@model PlaylistMusicasMVC.Models.Musica

<h2>Excluir Música</h2>

<!-- Mostra o nome da música -->
<p>Deseja excluir "@Model.Titulo"?</p>

<form method="post">
    <button type="submit">Confirmar</button>
</form>